<!--The content below is only a placeholder and can be replaced.-->
<form class="example-form" [formGroup]="phoneNumberForm">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="phonenumber" name="phonenumber" formControlName="number" placeholder="123 456 7890">
    <mat-error *ngIf="phoneNumberForm.get('number').hasError('required')">
     phone number is required
    </mat-error>
    <mat-error *ngIf="phoneNumberForm.get('number').hasError('pattern')">
      First Name must follow this pattern!
    </mat-error>
  </mat-form-field>
  <button mat-raised-button (click)="getCombinations()" color="primary">Get combinations</button>
</form>


<div class="count">Total number of combinations: {{totalCount}}</div>

<app-combinations-table [combinationList]="combinationList"></app-combinations-table>

